


footer {
    background-color: #0074c7;
    color: white;

h3 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    a:link, a:visited {
        color: white;
}
}
}