<app-header></app-header>
<div class="container">
  <h2 class="text-center m-5">Liste des Artisans</h2>
  <div class="row">
    <div *ngFor="let artisan of filteredArtisans; let i = index" class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ artisan.name }}</h5>
          <p class="card-text">Note: {{ artisan.note }}</p>
          <p class="card-text">Spécialité: {{ artisan.specialty }}</p>
          <p class="card-text">Localisation: {{ artisan.location }}</p>
          <p class="card-text">Description: {{ artisan.description }}</p>
          <a [routerLink]="['/artisan', artisan.id]" class="btn btn-primary">Voir les détails</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>