.container {
    margin-top: 20px;
    background-color: #00497c;
    border-radius: 5px;
    h2 {
        color: #0074c7 ;
        font-size: 2em;
        margin: 0;
    }
    }

.card {
    background-color: #F1F8FC;
    border: 1px solid ;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
   
  }

  div {
    color: #384050 ;
    background-color: #F1F8FC;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    transition: all 0.3s;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    }

    form {
        margin-top: 20px;
      }
      
      .form-group {
        margin-bottom: 15px;
      }
      
      .form-control {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      .btn {
        background-color: #0074c7;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: #005fa3;
        }
        }