<app-header></app-header>
<div class="container" *ngIf="artisan">
    <h2 class="text-center m-5">{{ artisan.name }}</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Note: {{ artisan.note }}</h5>
        <p class="card-text">Localisation: {{ artisan.location }}</p>
        <p class="card-text">Spécialité: {{ artisan.specialty }}</p>
        <p class="card-text">Description: {{ artisan.description }}</p>
        <p class="card-text">A propos: {{ artisan.about }}</p>
        <p class="card-text">email: {{ artisan.email }}</p>
        <p class="card-text">Site web: {{ artisan.website }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!artisan">
    <p>Chargement...</p>
  </div>
    <app-footer></app-footer>
