
.case {
    background-color: #F1F8FC;
    border: 1px solid ;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    transition: all 0.3s;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

.background {
    background-color: #00497c;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 200px;
}

h2 {

    color: #0074c7 ;
    font-size: 3em;
    margin: 0;
}

h1 {

    color: #00497c;
    font-size: 4em;
    margin: 0;
}
h3 {

    color: #0074c7 ;
    font-size: 2em;
    margin: 0;
}


.container {
    margin-top: 20px;
    background-color: #00497c;
    border-radius: 5px;
  }
  
  .card {
    background-color: #F1F8FC;
    border: 1px solid ;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
   
  }
  
  .card-title {
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  .artisans-du-mois {
    margin-bottom: 200px; // Ajoutez une marge inférieure pour créer un espace avec le footer
}